<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CoalDemo">

	 <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNg" />
	</listeners>

	<test name="CoalDemo Test">
	
		<classes>
			<class name="com.qa.testcases.LoginPageTest"></class>
				  		
		</classes>
		
	</test>
	
</suite>